In [1]:
import pandas as pd
names=['abc','def','ghi']
x=pd.Series(names)
print(names)

['abc', 'def', 'ghi']

In [2]:
import pandas as pd
sr = pd.Series(pd.date_range('2021-05-01','2021-05-12',freq = 'D'))
print(sr.to_string(index=False))

2021-05-01
2021-05-02
2021-05-03
2021-05-04
2021-05-05
2021-05-06
2021-05-07
2021-05-08
2021-05-09
2021-05-10
2021-05-11
2021-05-12

In [6]:
import pandas as pd
d={
    'Name': ['fathima','Aryasree','Bhavya'],
    'Age' : [22,21,22]
}
df=pd.DataFrame(d)
print(df)

       Name  Age
0   fathima   22
1  Aryasree   21
2    Bhavya   22

In [7]:
import pandas as pd
d=[[1,2],[3,4],[5,6]]
df=pd.DataFrame(d)
print(df)

   0  1
0  1  2
1  3  4
2  5  6

In [8]:
import pandas as pd
df = pd.read_csv('det.csv')
print(df.to_string())

   Name
0   'a'
1   'b'
2   'c'
3  Mark
4    21
5    23
6    22

In [12]:
import pandas as pd
df = pd.DataFrame({'Name': ['e','a','a','b','c','d'],
                   'Age': [1,2,1,3,3,4],
                   'Rank': [0,1,2,3,4,5]})
print(df.to_string())
print('SORTED DATAFRAME')
df = df.sort_values(by=['Name','Age'], ascending=[True,True])

  Name  Age  Rank
0    e    1     0
1    a    2     1
2    a    1     2
3    b    3     3
4    c    3     4
5    d    4     5
SORTED DATAFRAME

In [13]:
import pandas as pd
data = {'Name': ['e','a','a','b','c','d'],'Age': [1,2,1,3,3,4],'Rank': [0,1,2,3,4,5]}
index = {'a1', 'b1', 'c1', 'd1', 'e1','f1'}
df = pd.DataFrame(data,index)
print(df.to_string())
df.reset_index(inplace = True, drop = True)
print(df.to_string())

   Name  Age  Rank
b1    e    1     0
e1    a    2     1
f1    a    1     2
d1    b    3     3
a1    c    3     4
c1    d    4     5
  Name  Age  Rank
0    e    1     0
1    a    2     1
2    a    1     2
3    b    3     3
4    c    3     4
5    d    4     5

In [15]:
import pandas as pd
details = {'Name' : ['Thanziya','Bhavya','Aryasree','Janice'],'Age' : [20,21,22,23],}
df = pd.DataFrame(details)
print(df[:2])

       Name  Age
0  Thanziya   20
1    Bhavya   21

In [16]:
import pandas as pd

details = {
    'Name' : ['a','b','c','d','e'],
    'Occupation' : ['A1','A1','A1','B1','B1'],
    'Salary' : [20,30,40,27,23],
}
df = pd.DataFrame(details)
print(df)
occ_average_age = df.groupby('Occupation')['Salary'].mean()
print("Average salary per occupation : ")
print(occ_average_age)

  Name Occupation  Salary
0    a         A1      20
1    b         A1      30
2    c         A1      40
3    d         B1      27
4    e         B1      23
Average salary per occupation :
Occupation
A1    30.0
B1    25.0
Name: Salary, dtype: float64

In [17]:
import pandas as pd
import numpy as np
nums = {'Set_of_Numbers': [2, 3, 5, 7, 11, 13,np.nan, 19, 23, np.nan]}
df = pd.DataFrame(nums, columns =['Set_of_Numbers'])
df['Set_of_Numbers'] = df['Set_of_Numbers'].fillna(0)
print(df)

   Set_of_Numbers
0             2.0
1             3.0
2             5.0
3             7.0
4            11.0
5            13.0
6             0.0
7            19.0
8            23.0
9             0.0